@font-face {
    font-family: cocon;
    src: url("cocon/Cocon-Regular.ttf")format("truetype");
}

p {
    color: #6D687C;
}

.navbar {
    border: none;
    background-color: rgb(50, 34, 83);
    padding: 10px;
    margin: 0px 0px -10px 0px;
    border-radius: 0px;
}

.navbar-collapse, .navbar-inverse {
    border-color: rgb(50, 34, 83) !important;
}

.container-fluid {
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.navbar-collapse {
    border-top: 20px solid transparent;
}

.navbar-toggle:focus, .navbar-toggle:hover {
    background-color: rgb(50, 34, 83) !important;
    border-color: none;
}

#logo {
    position: relative;
    margin-left: 0px;
    height: 50px;
    bottom: 15%;
}

.textoLogo {
    position: relative;
    left: 55%;
    bottom: 45px;
    font-weight: bold;
    color: white;
    font-family: 'cocon';
}

#textoMenorLogo {
    position: relative;
    bottom: 55px;
    font-size: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#myNavbar {
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
    
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 1px solid rgb(243, 99, 49);
}

#imagemBanner {
    width: 100%;
}

#containerVantagensTexto, #containerVantagensItens {
    background-color: rgb(235, 232, 243);
}

#textoVantagens {
    position: relative;
    font-weight: bold;
    color: rgb(50, 34, 83);
    top: -50px;
    margin-bottom: -10px;
    font-family: 'cocon';
}

.numeroItem {
    font-size: 10em;
    color: rgb(50, 34, 83);
    opacity: 0.4;
    text-align: left;
    font-weight: bold;
    font-family: 'cocon';
}

.tituloItem {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    top: -130px;
    color: rgb(237, 100, 54); 
    font-family: 'cocon';   
}

#descricaoItem {
    position: relative;
    margin-top: -25%;
}

#containerSobreEmpresa {
    background: linear-gradient(to bottom, #3E2B62 , #281942);
}

#textoDestaque {
    color: rgb(237, 100, 54);
    font-weight: bold;
    font-family: 'cocon';
}

#nomeEmpresa {
    color: white;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 30px;
    font-family: 'cocon';
}

.tituloValoresEmpresa {
    color: white;
    font-weight: bold;
    font-family: 'cocon';
}

#imagemValores {
    position: relative;
    margin-left: 15%;
}

#linhaHistoria, #linhaMissao {
    padding-bottom: 60px;
}

#linhaTecnologia {
    padding-bottom: 25%;
}

#colunaFormulario {
    padding-top: 50px;
}

.form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid grey;
}

#buttonSubmit {
    background-color: rgb(237, 100, 54);
    border: 0;
    border-radius: 10px;
    color: white;
    width: 20%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: rgb(20, 12, 36);
}

#linhaFooter {
    position: relative;
}

#logoFooter {
    position: relative;
    margin-left: 0px;
    margin-bottom: -50px;
    margin-top: 25px;
    height: 50px;
}

.textoFooter {
    position: relative;
    font-weight: bold;
    color: white;
    font-family: 'cocon';
    top: 5px;
    left: 60px;
}

#textoMenorFooter {
    position: relative;
    margin-top: -10px;
    font-size: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rua {
    padding-top: 25px;
}

#contatoEmail {
    padding-top: 30px;
}

#bairro {
    margin-top: -5px;
}

.btn-facebook, .btn-instagram, .btn-facebook:hover, .btn-instagram:hover {
    margin-top: 20px;
    color: black;
    background-color: rgb(237, 100, 54);
    border-radius: 20px;
}